// Variables
$primary-color: #e40000;
$secondary-color: #333;

// Animaciones
@mixin scale-on-hover {
  transform: scale(1);
  transition: transform 0.5s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.button {
  background-image: linear-gradient(to right, #ff0000, #00ff00);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  // ...
}

@mixin fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

// Estilos generales
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.header {
  background-color: $secondary-color;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.navbar {
  background-color: $primary-color;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-item {
  margin: 0 20px;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

@media (max-width: 768px) {
  .nav-list {
    display: none;
  }

  .menu-toggle {
    display: flex;
  }

  .menu-open .nav-list {
    display: flex;
    flex-direction: column;
    background-color: $primary-color;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    padding: 10px;
  }

  .menu-open .nav-item {
    margin: 10px 0;
  }
}

.main-title {
  font-size: 36px;
  margin-top: 20px;
}

.content {
  margin: 20px;
}

.special-offers {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.special-offers h2 {
  font-size: 28px;
  color: $secondary-color;
  margin: 20px 0;
  width: 100%;
  text-align: center;
  @include fade-in;
}

.special-offers .product {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  width: 100%; // Cambiado a 100% para ser responsive
  margin-bottom: 20px;
  @include scale-on-hover;
  @include fade-in;
}

.special-offers .product img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  @include scale-on-hover;
}

.special-offers .product-title {
  font-size: 24px;
  margin: 10px 0;
}

.special-offers .product-description {
  font-size: 16px;
  margin: 10px 0;
}

.special-offers .product-price {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.articles .product {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  width: 100%; // Cambiado a 100% para ser responsive
  margin-bottom: 20px;
  @include scale-on-hover;
  @include fade-in;
}

.articles .product img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  @include scale-on-hover;
  max-height: 200px;
}

.articles .product-title {
  font-size: 24px;
  margin: 10px 0;
}

.articles .product-description {
  font-size: 16px;
  margin: 10px 0;
}

.articles .product-price {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.contact {
  text-align: center;
  padding: 20px;

  h2 {
    font-size: 28px;
    color: $secondary-color;
    margin: 20px 0;
    @include fade-in;
  }

  form {
    @include fade-in;
  }
}

.product {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  width: 100%; // Cambiado a 100% para ser responsive
  margin-bottom: 20px;
  @include scale-on-hover;
  @include fade-in;
}

.product img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  @include scale-on-hover;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 2s linear infinite;
}

@mixin button-styles {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  // ...
}

.button {
  @include button-styles;
  background-color: $primary-color;
  color: white;
  // ...
}


